# Extract and build dataset about Nicaragua's Municipal Elections Results 2022

In [362]:
pd.reset_option('all')

/Users/leona/opt/anaconda3/lib/python3.9/site-packages/pandas/_config/config.py:653: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
/Users/leona/opt/anaconda3/lib/python3.9/site-packages/pandas/_config/config.py:653: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

In [2]:
# Import libraries

import camelot as cam
import pandas as pd
import glob
from fuzzywuzzy import process,fuzz

In [3]:
# Read pdf using CAMELOT

vot_mun_2022 = cam.read_pdf('/Users/leona/Documents/Trabajos/UA/gaceta 14 noviembre 2022.pdf',pages='17-27')

In [4]:
# TO KNOW NUMBER OF TABLES

vot_mun_2022.n

37

In [322]:
# TO ADD ALL THE TABLES IN A SINGLE DATAFRAME

v = []
for i,table in enumerate(vot_mun_2022):
    v.append(table.df)
w = pd.concat(v)

w

,0,1,2,3,4,5,6,7,8
0,MUNICIPIO,ALCALDE Y VICEALCALDE,,,,,,,
1,,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,"13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...
8,POTOSI,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,"12,749","12,355",492,"10,911",NP,407,324,221

### The dataframe extracted is a bit messy, so we have to Rename all columns with the ones we need

In [323]:
# RENAME ALL COLUMNS


w.rename(columns={0:'Municipios', 1:'Votos depositados', 2:'Votos Validos', 3:'PLC', 4:'AFSLN', 
                  5:'YATAMA', 6:'ALN', 7:'APRE', 8:'APLI'}, inplace=True)
w

,Municipios,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,,,,,,,
1,,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,"13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...
8,POTOSI,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,"12,749","12,355",492,"10,911",NP,407,324,221

### Before going to the cleaning part, It is necessary to create a column to know if its an election for "Alcalde y vicealcalde" or "Concejales municipales". So, it is necessary to create a copy of 'Votos depositados' columns.

In [324]:
w.insert(loc=1, column='Eleccion1',  value=w['Votos depositados'])
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,ALCALDE Y VICEALCALDE,,,,,,,
1,,VOTOS \nDEPOSITADOS,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,"19,911","19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,"13,542","13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,"6,592","6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,"19,759","19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,"4,570","4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,"8,301","8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,"12,749","12,749","12,355",492,"10,911",NP,407,324,221

## CLEANING THE DATAFRAME

### From the column created, it will be  specified "Alcalde y vicealcalde" or "Concejales municipales"
### First, delete numerical values

In [325]:
w['Eleccion1'] = w['Eleccion1'].str.replace('\d+', '')

/var/folders/dx/gq6f8_595tsd02m__nff4q480000gn/T/ipykernel_55931/2737749466.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  w['Eleccion1'] = w['Eleccion1'].str.replace('\d+', '')

In [326]:
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,ALCALDE Y VICEALCALDE,,,,,,,
1,,VOTOS \nDEPOSITADOS,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,",","19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,",","13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,",","6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,",","19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,",","4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,",","8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,",","12,749","12,355",492,"10,911",NP,407,324,221

In [327]:
# CHECK THE UNIQUE VALUES of 'Eleccion1' column

w['Eleccion1'].unique()

array(['ALCALDE Y VICEALCALDE', 'VOTOS \nDEPOSITADOS', '', ',',
       'CONCEJALES MUNICIPALES', '.', ',\n¡', ' VOTOS \nDEPOSITADOS'],
      dtype=object)

In [328]:
# REPLACING 'VOTOS \nDEPOSITADOS'

w['Eleccion1'] = w['Eleccion1'].str.replace('VOTOS \nDEPOSITADOS', '')
w['Eleccion1'].value_counts()

,                         300
                           69
ALCALDE Y VICEALCALDE      17
CONCEJALES MUNICIPALES     17
.                           3
,\n¡                        1
                            1
Name: Eleccion1, dtype: int64

In [329]:
# REPLACING ALL VALUES THAT ARE NOT ALPHABETICS

w['Eleccion1'] = w['Eleccion1'].str.replace(r'\W', " ")
w['Eleccion1'].value_counts()

/var/folders/dx/gq6f8_595tsd02m__nff4q480000gn/T/ipykernel_55931/1406430155.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  w['Eleccion1'] = w['Eleccion1'].str.replace(r'\W', " ")

                          304
                           69
ALCALDE Y VICEALCALDE      17
CONCEJALES MUNICIPALES     17
                            1
Name: Eleccion1, dtype: int64

In [330]:
# REPLACING EMPTY RECORDS FOR NAN VALUES

w['Eleccion1'] = w['Eleccion1'].replace(r'^\s*$', np.nan,regex=True)
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,ALCALDE Y VICEALCALDE,,,,,,,
1,,NaN,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,NaN,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,NaN,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,NaN,"13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,NaN,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,NaN,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,NaN,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,NaN,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,NaN,"12,749","12,355",492,"10,911",NP,407,324,221

In [331]:
w['Eleccion1'].value_counts(dropna=False)

NaN                       374
ALCALDE Y VICEALCALDE      17
CONCEJALES MUNICIPALES     17
Name: Eleccion1, dtype: int64

In [332]:
# FLASH FILL TO - FILL NAN WITH THE ABOVE VALUE

w['Eleccion1'] = w['Eleccion1'].ffill()
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,ALCALDE Y VICEALCALDE,,,,,,,
1,,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,,ALCALDE Y VICEALCALDE,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221

### 2. CLEANING 'MUNICIPIOS' COLUMN

In [333]:
w['Municipios'].sort_values().unique()

array(['', 'ACHUAPA', 'ACOYA PA', 'ACOYAPA', 'ALTAGRACIA', 'BELEN',
       'BLUEFIELDS', 'BOACO', 'BOCANA DE PAIWAS', 'BONANZA',
       'BUENOS AIRES', 'CAMOAPA', 'CARDENAS', 'CATARINA', 'CHICIIIGALPA',
       'CHINANDEGA', 'CIIIC1I1GALPA', 'CINCO PINOS', 'CIUDAD ANTIGUA',
       'CIUDAD DARIO', 'CIUDAD SANDINO', 'COMALAPA', 'CONDEGA', 'CORINTO',
       'CORN ISLAND', 'DIPILTO', 'DIRIA', 'DIRIAMBA', 'DIRIOMO',
       'DOLORES', 'EL ALMENDRO', 'EL AYOTE', 'EL CASTILLO', 'EL CORAL',
       'EL CRUCERO', 'EL JICARAL', 'EL JICARO', 'EL RAMA', 'EL REALEJO',
       'EL ROSARIO', 'EL SAUCE', 'EL TUMA LA DALIA', 'EL VIEJO', 'ELCUA',
       'ELTORTUGUERO', 'ELTUMA LA DALIA', 'ESQUIPULAS', 'ESTELI',
       'GRANADA', 'JALAPA', 'JINOTEGA', 'JINOTEPE', 'JUIGALPA',
       'KUKRA HILL', 'KUKRA IIILL', 'LA CONCEPCION', 'LA CONCORDIA',
       'LA CONQUISTA', 'LA CRUZ DE RIO GRANDE',
       'LA DESEMBOCADURA DE \nRIO GRANDE', 'LA LIBERTAD', 'LA PAZ CENTRO',
       'LA PAZ DE CARAZO', 'LA TRINIDAD', 'LAGUNA DE PERLAS',
       'LARREYNAGA', 'LAS SABANAS', 'LEON', 'MACUELIZO', 'MANAGUA',
       'MASATEPE', 'MASAYA', 'MATAGALPA', 'MATEARE', 'MATIGUAS',
       'MORRITO', 'MOYOGALPA', 'MOZONEE', 'MOZONTE',
       'MUELLE DE LOS BUEYES', 'MULUKUKU', 'MUNICIPIO', 'MURRA',
       'MUY MUY', 'NAGAROTE', 'NANDAIME', 'NANDASMO', 'NINDIRI',
       'NIQUINOHOMO', 'NUEVA GUINEA', 'OCOIAL', 'OCOTAL', 'PALACAGUINA',
       'POSOLTEGA', 'POTOSI', 'PRINZAPOLKA', 'PUEBLO NUEVO',
       'PUERTO CABEZAS', 'PUERTO MORAZAN', 'QUEZALGUAQUE', 'QUILALI',
       'RANCHO GRANDE', 'RIO BLANCO', 'RIVAS', 'ROSITA', 'S1UNA',
       'SAN CARLOS', 'SAN DIONISIO', 'SAN FERNANDO',
       'SAN FRANCISCO DE CUAPA', 'SAN FRANCISCO DEL \nNORTE',
       'SAN FRANCISCO LIBRE', 'SAN ISIDRO', 'SAN JORGE',
       'SAN JOSE DE BOCA Y', 'SAN JOSE DE BOCAY', 'SAN JOSE DE CUSMAPA',
       'SAN JOSE DE LOS REMATES', 'SAN JUAN DE LIMAY',
       'SAN JUAN DE NICARAGUA', 'SAN JUAN DE ORIENTE',
       'SAN JUAN DEL RIO COCO', 'SAN JUAN DEL SUR', 'SAN LORENZO',
       'SAN LUCAS', 'SAN MARCOS', 'SAN MIGUELITO', 'SAN NICOLAS',
       'SAN PEDRO DE LOVAGO', 'SAN PEDRO DEL NORTE',
       'SAN RAFAEL DEL NORTE', 'SAN RAFAEL DEL SUR', 'SAN RAMON',
       'SAN SEBASTIAN DE YALI', 'SANTA LUCIA', 'SANTA MARIA',
       'SANTA MARIA DE \nPANTASMA', 'SANTA ROSA DEL PEÑON',
       'SANTA TERESA', 'SANTO DOMINGO', 'SANTO TOMAS',
       'SANTO TOMAS DEL NORTE', 'SANTO TOMAS DEL ÑOR TE', 'SEBACO',
       'SI UNA', 'SOMOTILLO', 'SOMOTO', 'TEL1CA', 'TELICA', 'TELPANECA',
       'TERRABONA', 'TEUSTEPE', 'TICUANTEPE', 'TIPITAPA', 'TISMA', 'TOLA',
       'TOTOGALPA', 'VILLA EL CARMEN', 'VILLA SANDINO', 'VILLANUEVA',
       'W1WILI-JINOTEGA', 'WASLALA', 'WASPAN', 'WIWILI-JINOTEGA',
       'WIWILI-NUEVA SEGOVIA', 'WIWILLNUEVA SEGOVIA', 'YALAGUINA'],
      dtype=object)

### The 'Municipios' column is messy, because the names are not correct.

In [334]:
# First, delete white spaces at the beginning and at the end.

w['Municipios'] = w['Municipios'].str.strip()
w['Municipios'].unique()

array(['MUNICIPIO', '', 'BOACO', 'CAMOAPA', 'SAN JOSE DE LOS REMATES',
       'SAN LORENZO', 'SANTA LUCIA', 'TEUSTEPE', 'DIRIAMBA', 'DOLORES',
       'EL ROSARIO', 'JINOTEPE', 'LA CONQUISTA', 'LA PAZ DE CARAZO',
       'SAN MARCOS', 'SANTA TERESA', 'CIIIC1I1GALPA', 'CHINANDEGA',
       'CINCO PINOS', 'CORINTO', 'EL REALEJO', 'EL VIEJO', 'POSOLTEGA',
       'PUERTO MORAZAN', 'SAN FRANCISCO DEL \nNORTE',
       'SAN PEDRO DEL NORTE', 'SANTO TOMAS DEL NORTE', 'SOMOTILLO',
       'VILLANUEVA', 'CHICIIIGALPA', 'SANTO TOMAS DEL ÑOR TE', 'ACOYA PA',
       'COMALAPA', 'EL AYOTE', 'EL CORAL', 'EL RAMA', 'JUIGALPA',
       'LA LIBERTAD', 'MUELLE DE LOS BUEYES', 'NUEVA GUINEA',
       'SAN FRANCISCO DE CUAPA', 'SAN PEDRO DE LOVAGO', 'SANTO DOMINGO',
       'SANTO TOMAS', 'VILLA SANDINO', 'ACOYAPA', 'CONDEGA', 'ESTELI',
       'LA TRINIDAD', 'PUEBLO NUEVO', 'SAN JUAN DE LIMAY', 'SAN NICOLAS',
       'DIRIA', 'DIRIOMO', 'GRANADA', 'NANDAIME', 'ELCUA', 'JINOTEGA',
       'LA CONCORDIA', 'SAN JOSE DE BOCAY', 'SAN RAFAEL DEL NORTE',
       'SAN SEBASTIAN DE YALI', 'SANTA MARIA DE \nPANTASMA',
       'WIWILI-JINOTEGA', 'SAN JOSE DE BOCA Y', 'W1WILI-JINOTEGA',
       'ACHUAPA', 'EL JICARAL', 'EL SAUCE', 'LA PAZ CENTRO', 'LARREYNAGA',
       'LEON', 'NAGAROTE', 'QUEZALGUAQUE', 'SANTA ROSA DEL PEÑON',
       'TEL1CA', 'TELICA', 'LAS SABANAS', 'PALACAGUINA',
       'SAN JOSE DE CUSMAPA', 'SAN JUAN DEL RIO COCO', 'SAN LUCAS',
       'SOMOTO', 'TELPANECA', 'TOTOGALPA', 'YALAGUINA', 'CIUDAD SANDINO',
       'EL CRUCERO', 'MANAGUA', 'MATEARE', 'SAN FRANCISCO LIBRE',
       'SAN RAFAEL DEL SUR', 'TICUANTEPE', 'TIPITAPA', 'VILLA EL CARMEN',
       'CATARINA', 'LA CONCEPCION', 'MASATEPE', 'MASAYA', 'NANDASMO',
       'NINDIRI', 'NIQUINOHOMO', 'SAN JUAN DE ORIENTE', 'TISMA',
       'CIUDAD DARIO', 'EL TUMA LA DALIA', 'ESQUIPULAS', 'MATAGALPA',
       'MATIGUAS', 'MUY MUY', 'RANCHO GRANDE', 'RIO BLANCO',
       'SAN DIONISIO', 'SAN ISIDRO', 'SAN RAMON', 'SEBACO', 'TERRABONA',
       'WASLALA', 'ELTUMA LA DALIA', 'CIUDAD ANTIGUA', 'DIPILTO',
       'EL JICARO', 'JALAPA', 'MACUELIZO', 'MOZONEE', 'MURRA', 'OCOTAL',
       'QUILALI', 'SAN FERNANDO', 'SANTA MARIA', 'WIWILI-NUEVA SEGOVIA',
       'MOZONTE', 'OCOIAL', 'WIWILLNUEVA SEGOVIA', 'BONANZA', 'MULUKUKU',
       'PRINZAPOLKA', 'PUERTO CABEZAS', 'ROSITA', 'S1UNA', 'WASPAN',
       'SI UNA', 'BLUEFIELDS', 'BOCANA DE PAIWAS', 'CORN ISLAND',
       'ELTORTUGUERO', 'KUKRA IIILL', 'LA CRUZ DE RIO GRANDE',
       'LA DESEMBOCADURA DE \nRIO GRANDE', 'LAGUNA DE PERLAS',
       'KUKRA HILL', 'EL ALMENDRO', 'EL CASTILLO', 'MORRITO',
       'SAN CARLOS', 'SAN JUAN DE NICARAGUA', 'SAN MIGUELITO',
       'ALTAGRACIA', 'BELEN', 'BUENOS AIRES', 'CARDENAS', 'MOYOGALPA',
       'POTOSI', 'RIVAS', 'SAN JORGE', 'SAN JUAN DEL SUR', 'TOLA'],
      dtype=object)

In [335]:
w['Municipios'] = w['Municipios'].replace('  ','', regex=True)
w['Municipios'].sort_values().unique()

array(['', 'ACHUAPA', 'ACOYA PA', 'ACOYAPA', 'ALTAGRACIA', 'BELEN',
       'BLUEFIELDS', 'BOACO', 'BOCANA DE PAIWAS', 'BONANZA',
       'BUENOS AIRES', 'CAMOAPA', 'CARDENAS', 'CATARINA', 'CHICIIIGALPA',
       'CHINANDEGA', 'CIIIC1I1GALPA', 'CINCO PINOS', 'CIUDAD ANTIGUA',
       'CIUDAD DARIO', 'CIUDAD SANDINO', 'COMALAPA', 'CONDEGA', 'CORINTO',
       'CORN ISLAND', 'DIPILTO', 'DIRIA', 'DIRIAMBA', 'DIRIOMO',
       'DOLORES', 'EL ALMENDRO', 'EL AYOTE', 'EL CASTILLO', 'EL CORAL',
       'EL CRUCERO', 'EL JICARAL', 'EL JICARO', 'EL RAMA', 'EL REALEJO',
       'EL ROSARIO', 'EL SAUCE', 'EL TUMA LA DALIA', 'EL VIEJO', 'ELCUA',
       'ELTORTUGUERO', 'ELTUMA LA DALIA', 'ESQUIPULAS', 'ESTELI',
       'GRANADA', 'JALAPA', 'JINOTEGA', 'JINOTEPE', 'JUIGALPA',
       'KUKRA HILL', 'KUKRA IIILL', 'LA CONCEPCION', 'LA CONCORDIA',
       'LA CONQUISTA', 'LA CRUZ DE RIO GRANDE',
       'LA DESEMBOCADURA DE \nRIO GRANDE', 'LA LIBERTAD', 'LA PAZ CENTRO',
       'LA PAZ DE CARAZO', 'LA TRINIDAD', 'LAGUNA DE PERLAS',
       'LARREYNAGA', 'LAS SABANAS', 'LEON', 'MACUELIZO', 'MANAGUA',
       'MASATEPE', 'MASAYA', 'MATAGALPA', 'MATEARE', 'MATIGUAS',
       'MORRITO', 'MOYOGALPA', 'MOZONEE', 'MOZONTE',
       'MUELLE DE LOS BUEYES', 'MULUKUKU', 'MUNICIPIO', 'MURRA',
       'MUY MUY', 'NAGAROTE', 'NANDAIME', 'NANDASMO', 'NINDIRI',
       'NIQUINOHOMO', 'NUEVA GUINEA', 'OCOIAL', 'OCOTAL', 'PALACAGUINA',
       'POSOLTEGA', 'POTOSI', 'PRINZAPOLKA', 'PUEBLO NUEVO',
       'PUERTO CABEZAS', 'PUERTO MORAZAN', 'QUEZALGUAQUE', 'QUILALI',
       'RANCHO GRANDE', 'RIO BLANCO', 'RIVAS', 'ROSITA', 'S1UNA',
       'SAN CARLOS', 'SAN DIONISIO', 'SAN FERNANDO',
       'SAN FRANCISCO DE CUAPA', 'SAN FRANCISCO DEL \nNORTE',
       'SAN FRANCISCO LIBRE', 'SAN ISIDRO', 'SAN JORGE',
       'SAN JOSE DE BOCA Y', 'SAN JOSE DE BOCAY', 'SAN JOSE DE CUSMAPA',
       'SAN JOSE DE LOS REMATES', 'SAN JUAN DE LIMAY',
       'SAN JUAN DE NICARAGUA', 'SAN JUAN DE ORIENTE',
       'SAN JUAN DEL RIO COCO', 'SAN JUAN DEL SUR', 'SAN LORENZO',
       'SAN LUCAS', 'SAN MARCOS', 'SAN MIGUELITO', 'SAN NICOLAS',
       'SAN PEDRO DE LOVAGO', 'SAN PEDRO DEL NORTE',
       'SAN RAFAEL DEL NORTE', 'SAN RAFAEL DEL SUR', 'SAN RAMON',
       'SAN SEBASTIAN DE YALI', 'SANTA LUCIA', 'SANTA MARIA',
       'SANTA MARIA DE \nPANTASMA', 'SANTA ROSA DEL PEÑON',
       'SANTA TERESA', 'SANTO DOMINGO', 'SANTO TOMAS',
       'SANTO TOMAS DEL NORTE', 'SANTO TOMAS DEL ÑOR TE', 'SEBACO',
       'SI UNA', 'SOMOTILLO', 'SOMOTO', 'TEL1CA', 'TELICA', 'TELPANECA',
       'TERRABONA', 'TEUSTEPE', 'TICUANTEPE', 'TIPITAPA', 'TISMA', 'TOLA',
       'TOTOGALPA', 'VILLA EL CARMEN', 'VILLA SANDINO', 'VILLANUEVA',
       'W1WILI-JINOTEGA', 'WASLALA', 'WASPAN', 'WIWILI-JINOTEGA',
       'WIWILI-NUEVA SEGOVIA', 'WIWILLNUEVA SEGOVIA', 'YALAGUINA'],
      dtype=object)

In [336]:
w[w['Municipios']=='S1UNA']

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
8,S1UNA,ALCALDE Y VICEALCALDE,"25,023\n¡","23,977","3,886","16,594",66,"1,151","1,138","1,142"

In [337]:
# SINCE THE COLUMN HAS EMPTY VALUES, WE ARE GOING TO REPLACE THEM BY NAN

w['Municipios'] = w['Municipios'].replace(r'^\s*$', np.nan,regex=True)
w['Municipios'].sort_values().unique()

array(['ACHUAPA', 'ACOYA PA', 'ACOYAPA', 'ALTAGRACIA', 'BELEN',
       'BLUEFIELDS', 'BOACO', 'BOCANA DE PAIWAS', 'BONANZA',
       'BUENOS AIRES', 'CAMOAPA', 'CARDENAS', 'CATARINA', 'CHICIIIGALPA',
       'CHINANDEGA', 'CIIIC1I1GALPA', 'CINCO PINOS', 'CIUDAD ANTIGUA',
       'CIUDAD DARIO', 'CIUDAD SANDINO', 'COMALAPA', 'CONDEGA', 'CORINTO',
       'CORN ISLAND', 'DIPILTO', 'DIRIA', 'DIRIAMBA', 'DIRIOMO',
       'DOLORES', 'EL ALMENDRO', 'EL AYOTE', 'EL CASTILLO', 'EL CORAL',
       'EL CRUCERO', 'EL JICARAL', 'EL JICARO', 'EL RAMA', 'EL REALEJO',
       'EL ROSARIO', 'EL SAUCE', 'EL TUMA LA DALIA', 'EL VIEJO', 'ELCUA',
       'ELTORTUGUERO', 'ELTUMA LA DALIA', 'ESQUIPULAS', 'ESTELI',
       'GRANADA', 'JALAPA', 'JINOTEGA', 'JINOTEPE', 'JUIGALPA',
       'KUKRA HILL', 'KUKRA IIILL', 'LA CONCEPCION', 'LA CONCORDIA',
       'LA CONQUISTA', 'LA CRUZ DE RIO GRANDE',
       'LA DESEMBOCADURA DE \nRIO GRANDE', 'LA LIBERTAD', 'LA PAZ CENTRO',
       'LA PAZ DE CARAZO', 'LA TRINIDAD', 'LAGUNA DE PERLAS',
       'LARREYNAGA', 'LAS SABANAS', 'LEON', 'MACUELIZO', 'MANAGUA',
       'MASATEPE', 'MASAYA', 'MATAGALPA', 'MATEARE', 'MATIGUAS',
       'MORRITO', 'MOYOGALPA', 'MOZONEE', 'MOZONTE',
       'MUELLE DE LOS BUEYES', 'MULUKUKU', 'MUNICIPIO', 'MURRA',
       'MUY MUY', 'NAGAROTE', 'NANDAIME', 'NANDASMO', 'NINDIRI',
       'NIQUINOHOMO', 'NUEVA GUINEA', 'OCOIAL', 'OCOTAL', 'PALACAGUINA',
       'POSOLTEGA', 'POTOSI', 'PRINZAPOLKA', 'PUEBLO NUEVO',
       'PUERTO CABEZAS', 'PUERTO MORAZAN', 'QUEZALGUAQUE', 'QUILALI',
       'RANCHO GRANDE', 'RIO BLANCO', 'RIVAS', 'ROSITA', 'S1UNA',
       'SAN CARLOS', 'SAN DIONISIO', 'SAN FERNANDO',
       'SAN FRANCISCO DE CUAPA', 'SAN FRANCISCO DEL \nNORTE',
       'SAN FRANCISCO LIBRE', 'SAN ISIDRO', 'SAN JORGE',
       'SAN JOSE DE BOCA Y', 'SAN JOSE DE BOCAY', 'SAN JOSE DE CUSMAPA',
       'SAN JOSE DE LOS REMATES', 'SAN JUAN DE LIMAY',
       'SAN JUAN DE NICARAGUA', 'SAN JUAN DE ORIENTE',
       'SAN JUAN DEL RIO COCO', 'SAN JUAN DEL SUR', 'SAN LORENZO',
       'SAN LUCAS', 'SAN MARCOS', 'SAN MIGUELITO', 'SAN NICOLAS',
       'SAN PEDRO DE LOVAGO', 'SAN PEDRO DEL NORTE',
       'SAN RAFAEL DEL NORTE', 'SAN RAFAEL DEL SUR', 'SAN RAMON',
       'SAN SEBASTIAN DE YALI', 'SANTA LUCIA', 'SANTA MARIA',
       'SANTA MARIA DE \nPANTASMA', 'SANTA ROSA DEL PEÑON',
       'SANTA TERESA', 'SANTO DOMINGO', 'SANTO TOMAS',
       'SANTO TOMAS DEL NORTE', 'SANTO TOMAS DEL ÑOR TE', 'SEBACO',
       'SI UNA', 'SOMOTILLO', 'SOMOTO', 'TEL1CA', 'TELICA', 'TELPANECA',
       'TERRABONA', 'TEUSTEPE', 'TICUANTEPE', 'TIPITAPA', 'TISMA', 'TOLA',
       'TOTOGALPA', 'VILLA EL CARMEN', 'VILLA SANDINO', 'VILLANUEVA',
       'W1WILI-JINOTEGA', 'WASLALA', 'WASPAN', 'WIWILI-JINOTEGA',
       'WIWILI-NUEVA SEGOVIA', 'WIWILLNUEVA SEGOVIA', 'YALAGUINA', nan],
      dtype=object)

In [338]:
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
0,MUNICIPIO,ALCALDE Y VICEALCALDE,ALCALDE Y VICEALCALDE,,,,,,,
1,NaN,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,ALCALDE Y VICEALCALDE,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221

In [339]:
# DROP ROWS WITH THE RECORD == 'MUNICIPIO'

w=w[~w['Municipios'].isin(['MUNICIPIO'])]
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,ALCALDE Y VICEALCALDE,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516
5,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,"4,300","4,080","1,613","2,030",NP,149,132,156
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221

In [340]:
# CHECK THE NAN VALUES

w[w.Municipios.isnull()]

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,ALCALDE Y VICEALCALDE,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,CONCEJALES MUNICIPALES,VOTOS \nDEPOSITADOS,VOTOS\nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,CONCEJALES MUNICIPALES,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
...,...,...,...,...,...,...,...,...,...,...
2,NaN,CONCEJALES MUNICIPALES,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,ALCALDE Y VICEALCALDE,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,ALCALDE Y VICEALCALDE,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI
1,NaN,CONCEJALES MUNICIPALES,VOTOS \nDEPOSITADOS,VOTOS \nVÁLIDOS,VOTOS VÁLIDOS POR PARTIDO,,,,,
2,NaN,CONCEJALES MUNICIPALES,,,PLC,AFSLN,YATAMA,ALN,APRE,APLI

In [341]:
# DROP NAN VALUES

w = w.dropna(subset=['Municipios'])
w

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI
3,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802
4,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516
5,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,"4,300","4,080","1,613","2,030",NP,149,132,156
6,SAN LORENZO,ALCALDE Y VICEALCALDE,"9,005","8,856",745,"7,223",NP,272,312,304
7,SANTA LUCIA,ALCALDE Y VICEALCALDE,"2,597","2,537",382,"2,021",NP,20,97,17
...,...,...,...,...,...,...,...,...,...,...
8,POTOSI,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115
9,RIVAS,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417
10,SAN JORGE,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89
11,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP
12,TOLA,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221

In [342]:
w.Municipios.sort_values().unique()

array(['ACHUAPA', 'ACOYA PA', 'ACOYAPA', 'ALTAGRACIA', 'BELEN',
       'BLUEFIELDS', 'BOACO', 'BOCANA DE PAIWAS', 'BONANZA',
       'BUENOS AIRES', 'CAMOAPA', 'CARDENAS', 'CATARINA', 'CHICIIIGALPA',
       'CHINANDEGA', 'CIIIC1I1GALPA', 'CINCO PINOS', 'CIUDAD ANTIGUA',
       'CIUDAD DARIO', 'CIUDAD SANDINO', 'COMALAPA', 'CONDEGA', 'CORINTO',
       'CORN ISLAND', 'DIPILTO', 'DIRIA', 'DIRIAMBA', 'DIRIOMO',
       'DOLORES', 'EL ALMENDRO', 'EL AYOTE', 'EL CASTILLO', 'EL CORAL',
       'EL CRUCERO', 'EL JICARAL', 'EL JICARO', 'EL RAMA', 'EL REALEJO',
       'EL ROSARIO', 'EL SAUCE', 'EL TUMA LA DALIA', 'EL VIEJO', 'ELCUA',
       'ELTORTUGUERO', 'ELTUMA LA DALIA', 'ESQUIPULAS', 'ESTELI',
       'GRANADA', 'JALAPA', 'JINOTEGA', 'JINOTEPE', 'JUIGALPA',
       'KUKRA HILL', 'KUKRA IIILL', 'LA CONCEPCION', 'LA CONCORDIA',
       'LA CONQUISTA', 'LA CRUZ DE RIO GRANDE',
       'LA DESEMBOCADURA DE \nRIO GRANDE', 'LA LIBERTAD', 'LA PAZ CENTRO',
       'LA PAZ DE CARAZO', 'LA TRINIDAD', 'LAGUNA DE PERLAS',
       'LARREYNAGA', 'LAS SABANAS', 'LEON', 'MACUELIZO', 'MANAGUA',
       'MASATEPE', 'MASAYA', 'MATAGALPA', 'MATEARE', 'MATIGUAS',
       'MORRITO', 'MOYOGALPA', 'MOZONEE', 'MOZONTE',
       'MUELLE DE LOS BUEYES', 'MULUKUKU', 'MURRA', 'MUY MUY', 'NAGAROTE',
       'NANDAIME', 'NANDASMO', 'NINDIRI', 'NIQUINOHOMO', 'NUEVA GUINEA',
       'OCOIAL', 'OCOTAL', 'PALACAGUINA', 'POSOLTEGA', 'POTOSI',
       'PRINZAPOLKA', 'PUEBLO NUEVO', 'PUERTO CABEZAS', 'PUERTO MORAZAN',
       'QUEZALGUAQUE', 'QUILALI', 'RANCHO GRANDE', 'RIO BLANCO', 'RIVAS',
       'ROSITA', 'S1UNA', 'SAN CARLOS', 'SAN DIONISIO', 'SAN FERNANDO',
       'SAN FRANCISCO DE CUAPA', 'SAN FRANCISCO DEL \nNORTE',
       'SAN FRANCISCO LIBRE', 'SAN ISIDRO', 'SAN JORGE',
       'SAN JOSE DE BOCA Y', 'SAN JOSE DE BOCAY', 'SAN JOSE DE CUSMAPA',
       'SAN JOSE DE LOS REMATES', 'SAN JUAN DE LIMAY',
       'SAN JUAN DE NICARAGUA', 'SAN JUAN DE ORIENTE',
       'SAN JUAN DEL RIO COCO', 'SAN JUAN DEL SUR', 'SAN LORENZO',
       'SAN LUCAS', 'SAN MARCOS', 'SAN MIGUELITO', 'SAN NICOLAS',
       'SAN PEDRO DE LOVAGO', 'SAN PEDRO DEL NORTE',
       'SAN RAFAEL DEL NORTE', 'SAN RAFAEL DEL SUR', 'SAN RAMON',
       'SAN SEBASTIAN DE YALI', 'SANTA LUCIA', 'SANTA MARIA',
       'SANTA MARIA DE \nPANTASMA', 'SANTA ROSA DEL PEÑON',
       'SANTA TERESA', 'SANTO DOMINGO', 'SANTO TOMAS',
       'SANTO TOMAS DEL NORTE', 'SANTO TOMAS DEL ÑOR TE', 'SEBACO',
       'SI UNA', 'SOMOTILLO', 'SOMOTO', 'TEL1CA', 'TELICA', 'TELPANECA',
       'TERRABONA', 'TEUSTEPE', 'TICUANTEPE', 'TIPITAPA', 'TISMA', 'TOLA',
       'TOTOGALPA', 'VILLA EL CARMEN', 'VILLA SANDINO', 'VILLANUEVA',
       'W1WILI-JINOTEGA', 'WASLALA', 'WASPAN', 'WIWILI-JINOTEGA',
       'WIWILI-NUEVA SEGOVIA', 'WIWILLNUEVA SEGOVIA', 'YALAGUINA'],
      dtype=object)

### Now, i'm going to use FuzzyWuzzy to get the real names of every municipio. In this case, i will create two lists with the unique values in 'Municipios' column and the correct list o 'Municipios'

In [343]:
munic_corr = ['Achuapa', 'Acoyapa', 'Altagracia', 'Belén', 'Bluefields', 'Boaco', 
              'Bonanza', 'Buenos Aires', 'Camoapa', 'Cárdenas', 'Catarina', 'Chichigalpa', 'Chinandega',
              'Cinco Pinos', 'Ciudad Antigua', 'Ciudad Darío', 'Ciudad Sandino', 'Comalapa',
 'Condega', 'Corinto', 'Corn Island', 'Desembocadura de Río Grande', 'Dipilto',
 'Diriá', 'Diriamba', 'Diriomo', 'Dolores', 'El Almendro', 'El Ayote', 'El Castillo',
 'El Coral', 'El Crucero', 'El Cuá', 'El Jicaral', 'El Rama', 'El Realejo',
 'El Rosario', 'El Sauce', 'El Tortuguero', 'El Tuma - La Dalia',
 'El Viejo', 'Esquipulas', 'Estelí', 'Granada', 'Jalapa', 'Jícaro',
 'Jinotega', 'Jinotepe', 'Juigalpa', 'Kukrahill', 'La Concepción', 'La Concordia', 'La Conquista',
 'La Cruz de Río Grande', 'La Libertad', 'La Paz Centro', 'La Paz de Carazo', 'La Trinidad',
 'Laguna de Perlas', 'Larreynaga', 'Las Sabanas', 'León', 'Macuelizo', 'Managua', 'Masatepe',
 'Masaya', 'Matagalpa', 'Mateare', 'Matiguás', 'Morrito', 'Moyogalpa', 'Mozonte', 'Muelle de Los Bueyes',
 'Mulukukú', 'Murra', 'Muy Muy', 'Nagarote', 'Nandaime', 'Nandasmo', 'Nindirí', 'Niquinohomo',
 'Nueva Guinea', 'Ocotal', 'Paiwas', 'Palacagüina', 'Posoltega', 'Potosí', 'Prinzapolka',
 'Pueblo Nuevo', 'Puerto Cabezas', 'Puerto Morazán', 'Quezalguaque', 'Quilalí', 'Rancho Grande', 
              'Río Blanco', 'Rivas', 'Rosita', 'San Carlos', 'San Dionisio', 'San Fernando',
              'San Francisco de Cuapa', 'San Francisco del Norte', 'San Francisco Libre', 'San Isidro',
 'San Jorge', 'San José de Bocay', 'San José de Cusmapa', 'San José de Los Remates', 'San Juan de Limay',
 'San Juan de Nicaragua', 'San Juan de Oriente', 'San Juan del Río Coco', 'San Juan del Sur',
 'San Lorenzo', 'San Lucas', 'San Marcos', 'San Miguelito', 'San Nicolás', 'San Pedro de Lóvago',
 'San Pedro del Norte', 'San Rafael del Norte', 'San Rafael del Sur', 'San Ramón', 'San Sebastián de Yalí',
 'Santa Lucía', 'Santa María', 'Santa María de Pantasma', 'Santa Rosa del Peñón', 'Santa Teresa',
 'Santo Domingo', 'Santo Tomás', 'Santo Tomás del Norte', 'Sébaco', 'Siuna', 'Somotillo', 'Somoto',
 'Telica', 'Telpaneca', 'Terrabona', 'Teustepe', 'Ticuantepe', 'Tipitapa', 'Tisma', 'Tola',
 'Totogalpa', 'Villa El Carmen', 'Villa Sandino', 'Villanueva', 'Waslala', 'Waspam', 'Wiwilí de Jinotega',
 'Wiwilí de Nueva Segovia', 'Yalagüina']

In [344]:
list1=w.Municipios.tolist()

In [345]:
mat1 = []
mat2 = []
p=[]
for i in list1:
    mat1.append(process.extract(i, munic_corr,limit=1, scorer=fuzz.token_set_ratio))
w['matches'] = mat1

/var/folders/dx/gq6f8_595tsd02m__nff4q480000gn/T/ipykernel_55931/2207590803.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w['matches'] = mat1

In [346]:
w.sort_values(by='Municipios')

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,matches
3,ACHUAPA,CONCEJALES MUNICIPALES,"4,050","3,952",477,"3,213",NP,95,94,73,"[(Achuapa, 100)]"
3,ACHUAPA,ALCALDE Y VICEALCALDE,"4,050","3,953",576,"2,980",NP,124,132,141,"[(Achuapa, 100)]"
3,ACOYA PA,ALCALDE Y VICEALCALDE,"6,889","6,799",613,"5,558",NP,209,214,205,"[(Acoyapa, 93)]"
3,ACOYAPA,CONCEJALES MUNICIPALES,"6,889","6,800",478,"5,906",NP,162,153,101,"[(Acoyapa, 100)]"
3,ALTAGRACIA,ALCALDE Y VICEALCALDE,"8,130","7,811",766,"6,300",NP,NP,370,375,"[(Altagracia, 100)]"
...,...,...,...,...,...,...,...,...,...,...,...
10,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,"[(Jinotega, 100)]"
14,WIWILI-NUEVA SEGOVIA,ALCALDE Y VICEALCALDE,"5,860","5,776",915,"3,952",NP,288,294,327,"[(Wiwilí de Nueva Segovia, 90)]"
3,WIWILLNUEVA SEGOVIA,CONCEJALES MUNICIPALES,"5,860","5,777",648,4.557,NP,217,203,152,"[(Wiwilí de Nueva Segovia, 63)]"
11,YALAGUINA,CONCEJALES MUNICIPALES,"3,975","3,898",149,"3,426",NP,144,102,77,"[(Yalagüina, 94)]"
4,YALAGUINA,ALCALDE Y VICEALCALDE,"3,975","3,898",213,"3,194",NP,191,146,154,"[(Yalagüina, 94)]"

In [347]:
threshold=50

for j in w['matches']:
    for k in j:
        
        if k[1] >= threshold:
            p.append(k[0])
              
    mat2.append(",".join(p))
    p = []
      
# storing the resultant matches 
# back to dframe1
w['matches'] = mat2
  
w.sort_values(by='Municipios')

/var/folders/dx/gq6f8_595tsd02m__nff4q480000gn/T/ipykernel_55931/1559205059.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w['matches'] = mat2

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,matches
3,ACHUAPA,CONCEJALES MUNICIPALES,"4,050","3,952",477,"3,213",NP,95,94,73,Achuapa
3,ACHUAPA,ALCALDE Y VICEALCALDE,"4,050","3,953",576,"2,980",NP,124,132,141,Achuapa
3,ACOYA PA,ALCALDE Y VICEALCALDE,"6,889","6,799",613,"5,558",NP,209,214,205,Acoyapa
3,ACOYAPA,CONCEJALES MUNICIPALES,"6,889","6,800",478,"5,906",NP,162,153,101,Acoyapa
3,ALTAGRACIA,ALCALDE Y VICEALCALDE,"8,130","7,811",766,"6,300",NP,NP,370,375,Altagracia
...,...,...,...,...,...,...,...,...,...,...,...
10,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,Jinotega
14,WIWILI-NUEVA SEGOVIA,ALCALDE Y VICEALCALDE,"5,860","5,776",915,"3,952",NP,288,294,327,Wiwilí de Nueva Segovia
3,WIWILLNUEVA SEGOVIA,CONCEJALES MUNICIPALES,"5,860","5,777",648,4.557,NP,217,203,152,Wiwilí de Nueva Segovia
11,YALAGUINA,CONCEJALES MUNICIPALES,"3,975","3,898",149,"3,426",NP,144,102,77,Yalagüina
4,YALAGUINA,ALCALDE Y VICEALCALDE,"3,975","3,898",213,"3,194",NP,191,146,154,Yalagüina

In [348]:
w.rename({'matches':'Municipio'}, axis=1, inplace=True)
w.head()

/var/folders/dx/gq6f8_595tsd02m__nff4q480000gn/T/ipykernel_55931/3323490231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w.rename({'matches':'Municipio'}, axis=1, inplace=True)

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
3,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802,Boaco
4,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516,Camoapa
5,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,"4,300","4,080","1,613","2,030",NP,149,132,156,San José de Los Remates
6,SAN LORENZO,ALCALDE Y VICEALCALDE,"9,005","8,856",745,"7,223",NP,272,312,304,San Lorenzo
7,SANTA LUCIA,ALCALDE Y VICEALCALDE,"2,597","2,537",382,"2,021",NP,20,97,17,Santa Lucía

In [349]:
w1=w.reset_index(drop=True).copy()
w1

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
0,BOACO,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802,Boaco
1,CAMOAPA,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516,Camoapa
2,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,"4,300","4,080","1,613","2,030",NP,149,132,156,San José de Los Remates
3,SAN LORENZO,ALCALDE Y VICEALCALDE,"9,005","8,856",745,"7,223",NP,272,312,304,San Lorenzo
4,SANTA LUCIA,ALCALDE Y VICEALCALDE,"2,597","2,537",382,"2,021",NP,20,97,17,Santa Lucía
...,...,...,...,...,...,...,...,...,...,...,...
301,POTOSI,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115,Potosí
302,RIVAS,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417,Rivas
303,SAN JORGE,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89,San Jorge
304,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP,San Juan del Sur
305,TOLA,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221,Tola

In [350]:
w1.Municipio.value_counts()

El Jicaral           4
Jinotega             4
Telica               4
Boaco                2
San Dionisio         2
                    ..
Granada              2
Nandaime             2
La Concordia         2
San José de Bocay    2
Tola                 2
Name: Municipio, Length: 150, dtype: int64

### A final cleaning step: i found that at least 3 records were not changed correctly, so i will change it manually.

In [351]:
w1[w1['Municipio'].str.contains('El Jicaral|Jinotega|Telica')]

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
102,ELCUA,ALCALDE Y VICEALCALDE,"15,901","15,172","2,494","11,317",NP,694,667,NP,Telica
103,JINOTEGA,ALCALDE Y VICEALCALDE,"39,684","37,451","3,752","28,411",NP,"1,941","1,649","1,698",Jinotega
109,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,Jinotega
110,ELCUA,CONCEJALES MUNICIPALES,"15,885","15,147","1,824","12,321",NP,533,469,NP,Telica
111,JINOTEGA,CONCEJALES MUNICIPALES,"40,010","37,739","2,774","31,382",NP,"1,499","1,175",909,Jinotega
117,W1WILI-JINOTEGA,CONCEJALES MUNICIPALES,"19,333","19,040","1,045","17,070",NP,363,324,238,Jinotega
119,EL JICARAL,ALCALDE Y VICEALCALDE,"3,866","3,766",327,"3,024",NP,145,140,130,El Jicaral
127,TEL1CA,ALCALDE Y VICEALCALDE,"10,034","9,747",604,"8,455",NP,347,341,NP,Telica
129,EL JICARAL,CONCEJALES MUNICIPALES,"3,866","3,766",233,"3,256",NP,114,101,62,El Jicaral
137,TELICA,CONCEJALES MUNICIPALES,"10,034","9,747",459,"8,777",NP,267,244,NP,Telica
222,EL JICARO,ALCALDE Y VICEALCALDE,"8,725","8,574","1,096","6,232",NP,413,405,428,El Jicaral
234,EL JICARO,CONCEJALES MUNICIPALES,"8,725","8,574",784,"6,976",NP,313,287,214,El Jicaral

In [352]:
w1.loc[[109,117],'Municipio'] = 'Wiwilí de Jinotega'
w1[w1['Municipio'].str.contains('El Jicaral|Jinotega|Telica')]

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
102,ELCUA,ALCALDE Y VICEALCALDE,"15,901","15,172","2,494","11,317",NP,694,667,NP,Telica
103,JINOTEGA,ALCALDE Y VICEALCALDE,"39,684","37,451","3,752","28,411",NP,"1,941","1,649","1,698",Jinotega
109,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,Wiwilí de Jinotega
110,ELCUA,CONCEJALES MUNICIPALES,"15,885","15,147","1,824","12,321",NP,533,469,NP,Telica
111,JINOTEGA,CONCEJALES MUNICIPALES,"40,010","37,739","2,774","31,382",NP,"1,499","1,175",909,Jinotega
117,W1WILI-JINOTEGA,CONCEJALES MUNICIPALES,"19,333","19,040","1,045","17,070",NP,363,324,238,Wiwilí de Jinotega
119,EL JICARAL,ALCALDE Y VICEALCALDE,"3,866","3,766",327,"3,024",NP,145,140,130,El Jicaral
127,TEL1CA,ALCALDE Y VICEALCALDE,"10,034","9,747",604,"8,455",NP,347,341,NP,Telica
129,EL JICARAL,CONCEJALES MUNICIPALES,"3,866","3,766",233,"3,256",NP,114,101,62,El Jicaral
137,TELICA,CONCEJALES MUNICIPALES,"10,034","9,747",459,"8,777",NP,267,244,NP,Telica
222,EL JICARO,ALCALDE Y VICEALCALDE,"8,725","8,574","1,096","6,232",NP,413,405,428,El Jicaral
234,EL JICARO,CONCEJALES MUNICIPALES,"8,725","8,574",784,"6,976",NP,313,287,214,El Jicaral

In [353]:
w1.loc[[102,110],'Municipio'] = 'El Cuá'
w1[w1['Municipio'].str.contains('El Jicaral|Jinotega|Telica')]

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
103,JINOTEGA,ALCALDE Y VICEALCALDE,"39,684","37,451","3,752","28,411",NP,"1,941","1,649","1,698",Jinotega
109,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,Wiwilí de Jinotega
111,JINOTEGA,CONCEJALES MUNICIPALES,"40,010","37,739","2,774","31,382",NP,"1,499","1,175",909,Jinotega
117,W1WILI-JINOTEGA,CONCEJALES MUNICIPALES,"19,333","19,040","1,045","17,070",NP,363,324,238,Wiwilí de Jinotega
119,EL JICARAL,ALCALDE Y VICEALCALDE,"3,866","3,766",327,"3,024",NP,145,140,130,El Jicaral
127,TEL1CA,ALCALDE Y VICEALCALDE,"10,034","9,747",604,"8,455",NP,347,341,NP,Telica
129,EL JICARAL,CONCEJALES MUNICIPALES,"3,866","3,766",233,"3,256",NP,114,101,62,El Jicaral
137,TELICA,CONCEJALES MUNICIPALES,"10,034","9,747",459,"8,777",NP,267,244,NP,Telica
222,EL JICARO,ALCALDE Y VICEALCALDE,"8,725","8,574","1,096","6,232",NP,413,405,428,El Jicaral
234,EL JICARO,CONCEJALES MUNICIPALES,"8,725","8,574",784,"6,976",NP,313,287,214,El Jicaral

In [354]:
w1.loc[[222,234],'Municipio'] = 'Jícaro'
w1[w1['Municipio'].str.contains('El Jicaral|Jinotega|Telica')]

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
103,JINOTEGA,ALCALDE Y VICEALCALDE,"39,684","37,451","3,752","28,411",NP,"1,941","1,649","1,698",Jinotega
109,WIWILI-JINOTEGA,ALCALDE Y VICEALCALDE,"19,347","19,049","1,403","16,258",NP,474,453,461,Wiwilí de Jinotega
111,JINOTEGA,CONCEJALES MUNICIPALES,"40,010","37,739","2,774","31,382",NP,"1,499","1,175",909,Jinotega
117,W1WILI-JINOTEGA,CONCEJALES MUNICIPALES,"19,333","19,040","1,045","17,070",NP,363,324,238,Wiwilí de Jinotega
119,EL JICARAL,ALCALDE Y VICEALCALDE,"3,866","3,766",327,"3,024",NP,145,140,130,El Jicaral
127,TEL1CA,ALCALDE Y VICEALCALDE,"10,034","9,747",604,"8,455",NP,347,341,NP,Telica
129,EL JICARAL,CONCEJALES MUNICIPALES,"3,866","3,766",233,"3,256",NP,114,101,62,El Jicaral
137,TELICA,CONCEJALES MUNICIPALES,"10,034","9,747",459,"8,777",NP,267,244,NP,Telica

In [356]:
pd.set_option('display.max_rows', None)

In [357]:
w1.Municipio.value_counts()

Boaco                          2
San Isidro                     2
Esquipulas                     2
Matagalpa                      2
Matiguás                       2
Muy Muy                        2
Rancho Grande                  2
Río Blanco                     2
San Dionisio                   2
San Ramón                      2
Yalagüina                      2
Sébaco                         2
Terrabona                      2
Waslala                        2
Ciudad Antigua                 2
Dipilto                        2
Jícaro                         2
Jalapa                         2
El Tuma - La Dalia             2
Ciudad Darío                   2
Tisma                          2
San Juan de Oriente            2
El Crucero                     2
Managua                        2
Mateare                        2
San Francisco Libre            2
San Rafael del Sur             2
Ticuantepe                     2
Tipitapa                       2
Villa El Carmen                2
Catarina                       2
La Concepción                  2
Masatepe                       2
Masaya                         2
Nandasmo                       2
Nindirí                        2
Niquinohomo                    2
Macuelizo                      2
Mozonte                        2
Murra                          2
Desembocadura de Río Grande    2
El Almendro                    2
El Castillo                    2
Morrito                        2
San Carlos                     2
San Juan de Nicaragua          2
San Miguelito                  2
Altagracia                     2
Belén                          2
Buenos Aires                   2
Cárdenas                       2
Moyogalpa                      2
Potosí                         2
Rivas                          2
San Jorge                      2
San Juan del Sur               2
Laguna de Perlas               2
La Cruz de Río Grande          2
Ocotal                         2
Kukrahill                      2
Quilalí                        2
San Fernando                   2
Santa María                    2
Wiwilí de Nueva Segovia        2
Bonanza                        2
Mulukukú                       2
Prinzapolka                    2
Puerto Cabezas                 2
Rosita                         2
Siuna                          2
Waspam                         2
Bluefields                     2
Paiwas                         2
Corn Island                    2
El Tortuguero                  2
Ciudad Sandino                 2
Totogalpa                      2
Camoapa                        2
Comalapa                       2
Puerto Morazán                 2
San Francisco del Norte        2
San Pedro del Norte            2
Santo Tomás del Norte          2
Somotillo                      2
Villanueva                     2
Acoyapa                        2
El Ayote                       2
Telpaneca                      2
El Coral                       2
El Rama                        2
Juigalpa                       2
La Libertad                    2
Muelle de Los Bueyes           2
Nueva Guinea                   2
San Francisco de Cuapa         2
Posoltega                      2
El Viejo                       2
El Realejo                     2
Corinto                        2
San José de Los Remates        2
San Lorenzo                    2
Santa Lucía                    2
Teustepe                       2
Diriamba                       2
Dolores                        2
El Rosario                     2
Jinotepe                       2
La Conquista                   2
La Paz de Carazo               2
San Marcos                     2
Santa Teresa                   2
Chichigalpa                    2
Chinandega                     2
Cinco Pinos                    2
San Pedro de Lóvago            2
Santo Domingo                  2
Santo Tomás                    2
Wiwilí de Jinotega             2
El Jicaral                     2
El Sauce                       2
La Paz Centro                  2
Larreynaga                     2
León                           2
Nagarote                       2
Quezalguaque                   2
Santa Rosa del Peñón           2
Telica                         2
Las Sabanas                    2
Palacagüina                    2
San José de Cusmapa            2
San Juan del Río Coco          2
San Lucas                      2
Somoto                         2
Achuapa                        2
Santa María de Pantasma        2
Villa Sandino                  2
San Sebastián de Yalí          2
Condega                        2
Estelí                         2
La Trinidad                    2
Pueblo Nuevo                   2
San Juan de Limay              2
San Nicolás                    2
Diriá                          2
Diriomo                        2
Granada                        2
Nandaime                       2
El Cuá                         2
Jinotega                       2
La Concordia                   2
San José de Bocay              2
San Rafael del Norte           2
Tola                           2
Name: Municipio, dtype: int64

In [360]:
w1.Municipio.sort_values().unique()

array(['Achuapa', 'Acoyapa', 'Altagracia', 'Belén', 'Bluefields', 'Boaco',
       'Bonanza', 'Buenos Aires', 'Camoapa', 'Catarina', 'Chichigalpa',
       'Chinandega', 'Cinco Pinos', 'Ciudad Antigua', 'Ciudad Darío',
       'Ciudad Sandino', 'Comalapa', 'Condega', 'Corinto', 'Corn Island',
       'Cárdenas', 'Desembocadura de Río Grande', 'Dipilto', 'Diriamba',
       'Diriomo', 'Diriá', 'Dolores', 'El Almendro', 'El Ayote',
       'El Castillo', 'El Coral', 'El Crucero', 'El Cuá', 'El Jicaral',
       'El Rama', 'El Realejo', 'El Rosario', 'El Sauce', 'El Tortuguero',
       'El Tuma - La Dalia', 'El Viejo', 'Esquipulas', 'Estelí',
       'Granada', 'Jalapa', 'Jinotega', 'Jinotepe', 'Juigalpa', 'Jícaro',
       'Kukrahill', 'La Concepción', 'La Concordia', 'La Conquista',
       'La Cruz de Río Grande', 'La Libertad', 'La Paz Centro',
       'La Paz de Carazo', 'La Trinidad', 'Laguna de Perlas',
       'Larreynaga', 'Las Sabanas', 'León', 'Macuelizo', 'Managua',
       'Masatepe', 'Masaya', 'Matagalpa', 'Mateare', 'Matiguás',
       'Morrito', 'Moyogalpa', 'Mozonte', 'Muelle de Los Bueyes',
       'Mulukukú', 'Murra', 'Muy Muy', 'Nagarote', 'Nandaime', 'Nandasmo',
       'Nindirí', 'Niquinohomo', 'Nueva Guinea', 'Ocotal', 'Paiwas',
       'Palacagüina', 'Posoltega', 'Potosí', 'Prinzapolka',
       'Pueblo Nuevo', 'Puerto Cabezas', 'Puerto Morazán', 'Quezalguaque',
       'Quilalí', 'Rancho Grande', 'Rivas', 'Rosita', 'Río Blanco',
       'San Carlos', 'San Dionisio', 'San Fernando',
       'San Francisco Libre', 'San Francisco de Cuapa',
       'San Francisco del Norte', 'San Isidro', 'San Jorge',
       'San José de Bocay', 'San José de Cusmapa',
       'San José de Los Remates', 'San Juan de Limay',
       'San Juan de Nicaragua', 'San Juan de Oriente',
       'San Juan del Río Coco', 'San Juan del Sur', 'San Lorenzo',
       'San Lucas', 'San Marcos', 'San Miguelito', 'San Nicolás',
       'San Pedro de Lóvago', 'San Pedro del Norte',
       'San Rafael del Norte', 'San Rafael del Sur', 'San Ramón',
       'San Sebastián de Yalí', 'Santa Lucía', 'Santa María',
       'Santa María de Pantasma', 'Santa Rosa del Peñón', 'Santa Teresa',
       'Santo Domingo', 'Santo Tomás', 'Santo Tomás del Norte', 'Siuna',
       'Somotillo', 'Somoto', 'Sébaco', 'Telica', 'Telpaneca',
       'Terrabona', 'Teustepe', 'Ticuantepe', 'Tipitapa', 'Tisma', 'Tola',
       'Totogalpa', 'Villa El Carmen', 'Villa Sandino', 'Villanueva',
       'Waslala', 'Waspam', 'Wiwilí de Jinotega',
       'Wiwilí de Nueva Segovia', 'Yalagüina'], dtype=object)

### Now, i think is pretty clean and i have the right name of 'Municipio'. Next step is give the right types of data to the numerical ones.

In [361]:
w1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Municipios         306 non-null    object
 1   Eleccion1          306 non-null    object
 2   Votos depositados  306 non-null    object
 3   Votos Validos      306 non-null    object
 4   PLC                306 non-null    object
 5   AFSLN              306 non-null    object
 6   YATAMA             306 non-null    object
 7   ALN                306 non-null    object
 8   APRE               306 non-null    object
 9   APLI               306 non-null    object
 10  Municipio          306 non-null    object
dtypes: object(11)
memory usage: 26.4+ KB

### It can be seen that from column 2 to 9, we have objects type, but these should be numerical as integers.

In [277]:
w1

,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
3,ALCALDE Y VICEALCALDE,"19,911","19,020","1,704","14,810",NP,872,832,802,Boaco
4,ALCALDE Y VICEALCALDE,"13,542","13,016","3,295","8,098",NP,583,524,516,Camoapa
5,ALCALDE Y VICEALCALDE,"4,300","4,080","1,613","2,030",NP,149,132,156,San José de Los Remates
6,ALCALDE Y VICEALCALDE,"9,005","8,856",745,"7,223",NP,272,312,304,San Lorenzo
7,ALCALDE Y VICEALCALDE,"2,597","2,537",382,"2,021",NP,20,97,17,Santa Lucía
...,...,...,...,...,...,...,...,...,...,...
8,CONCEJALES MUNICIPALES,"6,592","6,349",303,"5,732",NP,199,NP,115,Potosí
9,CONCEJALES MUNICIPALES,"19,759","18,861",967,"16,659",NP,818,NP,417,Rivas
10,CONCEJALES MUNICIPALES,"4,570","4,353",350,"3,782",NP,132,NP,89,San Jorge
11,CONCEJALES MUNICIPALES,"8,301","7,961",426,"7,120",NP,220,195,NP,San Juan del Sur
12,CONCEJALES MUNICIPALES,"12,749","12,355",492,"10,911",NP,407,324,221,Tola

In [363]:
w1.columns

Index(['Municipios', 'Eleccion1', 'Votos depositados', 'Votos Validos', 'PLC',
       'AFSLN', 'YATAMA', 'ALN', 'APRE', 'APLI', 'Municipio'],
      dtype='object')

In [365]:
cols = ['Votos depositados', 'Votos Validos', 'PLC', 'AFSLN',
       'YATAMA', 'ALN', 'APRE', 'APLI']

w1[cols]=w1[cols].astype(int)

ValueError: invalid literal for int() with base 10: '19,911'

### I'm going to replace some characters, like dots, commas ando others, and then convert the columns to integer

In [371]:
w1[cols] = w1[cols].replace('\.','',regex=True).replace(',','',regex=True)\
.replace('\n¡','',regex=True).replace('NP','0',regex=True).replace(' ','',regex=True).astype(int)
w1

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio
0,BOACO,ALCALDE Y VICEALCALDE,19911,19020,1704,14810,0,872,832,802,Boaco
1,CAMOAPA,ALCALDE Y VICEALCALDE,13542,13016,3295,8098,0,583,524,516,Camoapa
2,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,4300,4080,1613,2030,0,149,132,156,San José de Los Remates
3,SAN LORENZO,ALCALDE Y VICEALCALDE,9005,8856,745,7223,0,272,312,304,San Lorenzo
4,SANTA LUCIA,ALCALDE Y VICEALCALDE,2597,2537,382,2021,0,20,97,17,Santa Lucía
...,...,...,...,...,...,...,...,...,...,...,...
301,POTOSI,CONCEJALES MUNICIPALES,6592,6349,303,5732,0,199,0,115,Potosí
302,RIVAS,CONCEJALES MUNICIPALES,19759,18861,967,16659,0,818,0,417,Rivas
303,SAN JORGE,CONCEJALES MUNICIPALES,4570,4353,350,3782,0,132,0,89,San Jorge
304,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,8301,7961,426,7120,0,220,195,0,San Juan del Sur
305,TOLA,CONCEJALES MUNICIPALES,12749,12355,492,10911,0,407,324,221,Tola

In [374]:
for col in w1:
    print(w1[col].unique())

['BOACO' 'CAMOAPA' 'SAN JOSE DE LOS REMATES' 'SAN LORENZO' 'SANTA LUCIA'
 'TEUSTEPE' 'DIRIAMBA' 'DOLORES' 'EL ROSARIO' 'JINOTEPE' 'LA CONQUISTA'
 'LA PAZ DE CARAZO' 'SAN MARCOS' 'SANTA TERESA' 'CIIIC1I1GALPA'
 'CHINANDEGA' 'CINCO PINOS' 'CORINTO' 'EL REALEJO' 'EL VIEJO' 'POSOLTEGA'
 'PUERTO MORAZAN' 'SAN FRANCISCO DEL \nNORTE' 'SAN PEDRO DEL NORTE'
 'SANTO TOMAS DEL NORTE' 'SOMOTILLO' 'VILLANUEVA' 'CHICIIIGALPA'
 'SANTO TOMAS DEL ÑOR TE' 'ACOYA PA' 'COMALAPA' 'EL AYOTE' 'EL CORAL'
 'EL RAMA' 'JUIGALPA' 'LA LIBERTAD' 'MUELLE DE LOS BUEYES' 'NUEVA GUINEA'
 'SAN FRANCISCO DE CUAPA' 'SAN PEDRO DE LOVAGO' 'SANTO DOMINGO'
 'SANTO TOMAS' 'VILLA SANDINO' 'ACOYAPA' 'CONDEGA' 'ESTELI' 'LA TRINIDAD'
 'PUEBLO NUEVO' 'SAN JUAN DE LIMAY' 'SAN NICOLAS' 'DIRIA' 'DIRIOMO'
 'GRANADA' 'NANDAIME' 'ELCUA' 'JINOTEGA' 'LA CONCORDIA'
 'SAN JOSE DE BOCAY' 'SAN RAFAEL DEL NORTE' 'SAN SEBASTIAN DE YALI'
 'SANTA MARIA DE \nPANTASMA' 'WIWILI-JINOTEGA' 'SAN JOSE DE BOCA Y'
 'W1WILI-JINOTEGA' 'ACHUAPA' 'EL JICARAL' 'EL SAUCE' 'LA PAZ CENTRO'
 'LARREYNAGA' 'LEON' 'NAGAROTE' 'QUEZALGUAQUE' 'SANTA ROSA DEL PEÑON'
 'TEL1CA' 'TELICA' 'LAS SABANAS' 'PALACAGUINA' 'SAN JOSE DE CUSMAPA'
 'SAN JUAN DEL RIO COCO' 'SAN LUCAS' 'SOMOTO' 'TELPANECA' 'TOTOGALPA'
 'YALAGUINA' 'CIUDAD SANDINO' 'EL CRUCERO' 'MANAGUA' 'MATEARE'
 'SAN FRANCISCO LIBRE' 'SAN RAFAEL DEL SUR' 'TICUANTEPE' 'TIPITAPA'
 'VILLA EL CARMEN' 'CATARINA' 'LA CONCEPCION' 'MASATEPE' 'MASAYA'
 'NANDASMO' 'NINDIRI' 'NIQUINOHOMO' 'SAN JUAN DE ORIENTE' 'TISMA'
 'CIUDAD DARIO' 'EL TUMA LA DALIA' 'ESQUIPULAS' 'MATAGALPA' 'MATIGUAS'
 'MUY MUY' 'RANCHO GRANDE' 'RIO BLANCO' 'SAN DIONISIO' 'SAN ISIDRO'
 'SAN RAMON' 'SEBACO' 'TERRABONA' 'WASLALA' 'ELTUMA LA DALIA'
 'CIUDAD ANTIGUA' 'DIPILTO' 'EL JICARO' 'JALAPA' 'MACUELIZO' 'MOZONEE'
 'MURRA' 'OCOTAL' 'QUILALI' 'SAN FERNANDO' 'SANTA MARIA'
 'WIWILI-NUEVA SEGOVIA' 'MOZONTE' 'OCOIAL' 'WIWILLNUEVA SEGOVIA' 'BONANZA'
 'MULUKUKU' 'PRINZAPOLKA' 'PUERTO CABEZAS' 'ROSITA' 'S1UNA' 'WASPAN'
 'SI UNA' 'BLUEFIELDS' 'BOCANA DE PAIWAS' 'CORN ISLAND' 'ELTORTUGUERO'
 'KUKRA IIILL' 'LA CRUZ DE RIO GRANDE' 'LA DESEMBOCADURA DE \nRIO GRANDE'
 'LAGUNA DE PERLAS' 'KUKRA HILL' 'EL ALMENDRO' 'EL CASTILLO' 'MORRITO'
 'SAN CARLOS' 'SAN JUAN DE NICARAGUA' 'SAN MIGUELITO' 'ALTAGRACIA' 'BELEN'
 'BUENOS AIRES' 'CARDENAS' 'MOYOGALPA' 'POTOSI' 'RIVAS' 'SAN JORGE'
 'SAN JUAN DEL SUR' 'TOLA']
['ALCALDE Y VICEALCALDE' 'CONCEJALES MUNICIPALES']
[ 19911  13542   4300   9005   2597   9654   4281   2599   9657  27156
   3438   3919  19212   2400   3252  15946   5924  27138  17596  54163
   3218   6761   4865  23279   6955   4454   2639   2496   3105  11436
  10016  23270  11398  10054   6889   4115   6667   4426  15170  21245
   5508   9260  22973   2715   4376   6618   7296   4712   9244   9947
  44167   8515   6654   4700   3626   3434   9761  39327  13341  15901
  39684   3246  17200   7254   9539  14607  19347  15885  40010  17246
   7153   9547  19333   4050   3866   8629   9575  11565  71227  16304
   4689   3465  10034   9540  71229   2625   6087   3022   8336   6110
  13838   7732   5208   3975  34968   7538 392487  16899   3908  19985
  14773  52411  14139 392481   3526  12559  13099  52895   4534  18366
   7220   2433   6188  14100  19464   5264  57285  11210   5472   9580
  11552   5802  11013  12310   4697  16643  11173  16618   3400   1873
   8725  17871   2765   3546   5581  13004   9179   4379   1956   5860
   3388   1895  16258  11117   7529  27784  15195  25023  13878  16262
  11116   7427  27746  24934  13778  19176   8409   2829   9127   7101
   6353   2480   3991  19186   8309   2821   9041   7093   6352   3982
   4183   6730   2778  16001    935   6191   6722  15997   8130   6630
   3365   4221   4616   6592  19759   4570   8301  12749   8103]
[ 19020  13016   4080   8856   2537   9451   4055   8854   2539   9452
  26056   3268   3851  18440   2334   3114  15143   5593  26058  18436
  16970  52730   3168   6534   4717  22408   6781   4293   2592   2454
   3081  11208   9775  22399  11170   9802   6799   3999   6496   4283
  14578  20448   5392   8811  22274   2596   4299   6373   7100   4528
   6800  14572   8768   6366   9604  42906   8381   6406   4631   3599
  42901   3250   9283  37919  12726  37910  15172  37451   3155  16825
   6784   9315  13897  19049  15147  37739  16875   6667   9324  13893
  19040   3953   3766   8421   9211  11180  68806  15446   4520   3394
   9747   3952   8418   9176  11174  68808   2547   5871   2947   8086
   5834  13216   7577   5090   3898  33539   7087 376201  16227   3789
  19185  14090  50306  13543 376162  50311   3391  11906  12326  50588
   4324  17525   6840   2305   5969  13565  18736   5024  54602  10629
   5330   9201  11040   6447   5622  10579  11693   4644  15927  54604
  10585  15785   3284   1735   8574  17372   2653   3420   5340  12384
   8971   4198   1905   5776   3235   1757   5777  15832  10858   7223
  26607  14680  23977  13398  15767  10857   7074  26526  23834  13310
  18377   8014   2771   8812   6968   5999   2401   3819  18378   7837
   2763   8652   6957   5827   2402   3751   4081   6563   2718  15649
    903   6136   6556  15650   7811   6449   3229   4030   4494   6349
  18859   4353   7961  12355   7784  18861]
[ 1704  3295  1613   745   382   948  1234  2452  1216   541   286   688
  2349   417   211  1556   116   167  1045   724  1716   298   149  1119
    87   122   752   586  2287  6007   265   912   334  3230   578   757
    99   153   363  1149   755  1639  4285   195   656   239  2325   420
   556    74   108   258   819   573   613   788  2445   970  2407  2233
   358  2723  4549   333  2610   783   940   478   631  1914  1795  1586
   267  2307  3356   234   157  1924   552  1086  4975   857   507   349
   431   782  3584   607   373   248   355   250  4869  1330   177   683
  3461   971  2494  3752   276  2628   709   900  2787  1403  1824  2774
   202  2026   674  2067   576   327  1454  1168  1073  8502   186   604
   477   233  1175   836   778  6140   792   290   156   459   111   424
   221  1404     0  1003   481   540   213    80   305   161  1012   722
   390  4706  1013 43678  2074   145  3581  1469  4497  1276  3324   771
 21554  1483   113  2656  1057  3239   954   397  1584  1622  6938   375
  2408   643   487   526   283  1137  1162  4952   273  1724   457   359
   383  2155  1891  1024  4645  1713   542  1236  2040   636  1282  1973
   577  5018  1544  1365   770  3386  1291   903  1523   452   567   942
  1402   418  3903  1351   155  1096   396   750   780  1509  1632   608
   915  1101   110   784  1828   549  1082  1160   446   129   648  1317
  3333  1087   394  2957  3886  1044  2438  1037   398  2126  2871   263
  3492  3795   255  3606   476  2617     5   471  2578  3498   187  2869
   351  2336   352   347   965   304  1745    55   652   691  1251    40
   466   766   182   262   411  1380   506   574   682   557   268   130
   215   303   967   350   426   492]
[ 14810   8098   2030   7223   2021   7396  16127   9482   2553   7722
   2160   8029  20432   2530   3319  14450   1447   2703  12053   4563
  22163   2766   3495  15695   1662   2831  13047   4756  11669  39410
   2767   4473   3967  15577   5657   3135   2363   2139   2555   9551
   8710  13327  43657   2869   5135   4211  17624   6013   3479   2434
   2239   2699   9959   8987   5558   2783   4051   2719  10851  15286
   4481   5423  14218   1991   3596   3030   5304   2882   5906   3086
   4582   3168  11964  16955   4767   6008  16623   2199   3815   3966
   5881   3383   7159  32088   6438   5266   3741   2844   7936  35480
   7066   5614   4031   3025   2681   7062  27424  10291   7756  30717
  11045  11317  28411   2612  12702   5027   7105   9542  16258  12321
  31382   2755  13666   5260  10651  17070   2980   3024   6222   7556
   9288  53260  12893   3649   3049   8455   3213   3256   6753   8000
   9871  58201  13709   3902   3143   8777   2162   4462   2296   5369
   4922  10950   6186   3901   3194   2286   4909   2503   6219   5188
  11693   6635   4279   3426  23322   5084 274537  11850   3386  13070
  10457  38842  10621  26596   5675 325077  13231   3485  14843  11606
  42546  11490   2684   8494   9398  35409   3511   5241   1608   4574
   2920   9557  10316  40208   3779  13920   5755   1791   5025   9831
  15209   3318  42738   7636   4064   7625   4023   8229   8389   3395
   8809  11023  16344   3802  46467   8435   4463   7427   8611   4519
   8955   9431   3780  10480   1683   1411   6232  11885   1931   2260
   3158   8989   5840   3061   1626   3952   1976   1545   6976  13668
   2165   2610   3694  10064   6832   3407   1705   4557  13383   5967
   3557  15289   9313  16594   6579  13953   7402   3483  15236  10937
  18633   6509  11849   4069   2039   4187   5845   3071   1461   2626
  13674   4224   2186   5103   6173   3254   1459   2786   3262   4657
   2038  11613    760   4594   3517   5249   2244    808   5083   6300
   5573   2665   3290   3593   5448  15556   3505   6824  10253   6773
   5846   2813   3518   3887   5732  16659   3782   7120  10911]
[    0   112    23  2515 10724   140    66  6455   144    24  2502 10699
    64  6458   171   262     8     9   931   382   169     7    29   934
   392]
[  872   583   149   272    20   379   672   446   109   208    17   289
  1150   167   170   894   613   129   726   306   881   127   685   494
   101   551   251   854  2502   136   340   218  1371   267   206    66
    78   163   508   310   653  1889   104   257   165  1078   205   162
    50    61   124   392   242   209   153     0  1002   178  1154   161
   240   343   243   119   160   761   134   198   121   262   182   442
  1948   360   172   133   336  1492   271   156   103   151   455  1931
   581   117   351  1481   447   694  1941   137   879   771   569   949
   474   533  1499   105   738   671   466   740   363   145   425  3588
   168   347    95   114   190   329  2731   130    98   402   144   423
   487   670   321   215   191    74   309   111   324   384   509   241
  1940   335 19654   830   122   869   747  2318   532  1478   256 12960
   633   106   663   568  1761   409   649   723  2905   229  1137   357
   295   112   497   546  2212   870   273    87   222   798   823   226
  2501   437   253   426   475    22   714   221   703   605   628   175
  1909   341   196   322    44   545   537    85    88   413    15   947
   624   511   169   288    62    67   313   718    24   795   125   217
   500    65   745  1151    37   382    10    64   563   880    32  1016
   358    93     3   115   804   281   166    68    90   332   790   308
   126   252    97   599   234   174   239   200   285   526   135   186
   116   199   818   132   220   407]
[  832   524   132   312    97   371   581   364    93   219    68   262
  1103     0   779    79   678   782   550    53   474  1369  2470   426
  1217   960  1742   299   872   214   141   201   669   957   192   212
  1170   144   162   238   348   228   153   100   140   479   667   152
   824    99   116   168   243   159   465  1951   361   218   182    90
   327  1381   252   156   128    62   151   400  1890   108   280  1339
  1649   130   616   277   619   453   469  1175   445   195   265   435
   324   237   487   915   171    80   341    94   101   166   340   658
   122    57   244    84   287   448   215   294   146    59   202   310
   206   148   102  1822   335 19595   757    67   851   719  2165   604
  1275   233  9017   530    48   607   509  1514   428  2687   840   284
    96   276   409  1880   590  2357   414   439   461   242   682   172
  1657   295   306   318   229   203   481    77   405   977   133   234
   624   505   185    55   687   104   165   437   353   131    71   498
   522    18    47   761  1138    34   354    15    43   532   808   917
   150   309    85     1   636   115    63    70   311   750    50   296
   110   217    95   528    35   370   173   143   167   278   460   260
   119   135]
[  802   516   156   304    17   357   406   272    84   164     8   184
  1022   154   151   761    79   115   641     0    77    78   387    38
    60   319   791  2341   383   198  1013   279   195    64   391  1157
   187   102   500   143    96    34    46   205   134   651   970   183
   202  1183   128   169   255   322   235   101    63    91   334   479
    92   103   599    90   130   162   116   452  1944   365   210   223
   964   185   107    54   426  1805   524   213   912   263  1698   370
   461   909   197   238   141   257   394  3456   565   150    73    62
   196  1736   287    76   296   146   442   593   295   219    48    75
   221   109   292   111  1749   320 18737   716    69   814   698  2484
   510   866   152  7554   350    37   416  1251   262   159   598   583
  2649   209   819   315   298   306   302  1336   100   421   147   781
   813  2361   429   234   465   439   299   276   522   617   715   393
   399   105  1185   113   243   228   137   267   384    88    81   428
   951   638   483   175   327    41    35   214   471    74    67   110
   326   242    89   513    31   764  1142   250    27    86   382   578
    14   932   352   218   124   123   517    57   180    61   119   751
   286   379    20   375   166   158   211   845   168   434   194    82
   106   417]
['Boaco' 'Camoapa' 'San José de Los Remates' 'San Lorenzo' 'Santa Lucía'
 'Teustepe' 'Diriamba' 'Dolores' 'El Rosario' 'Jinotepe' 'La Conquista'
 'La Paz de Carazo' 'San Marcos' 'Santa Teresa' 'Chichigalpa' 'Chinandega'
 'Cinco Pinos' 'Corinto' 'El Realejo' 'El Viejo' 'Posoltega'
 'Puerto Morazán' 'San Francisco del Norte' 'San Pedro del Norte'
 'Santo Tomás del Norte' 'Somotillo' 'Villanueva' 'Acoyapa' 'Comalapa'
 'El Ayote' 'El Coral' 'El Rama' 'Juigalpa' 'La Libertad'
 'Muelle de Los Bueyes' 'Nueva Guinea' 'San Francisco de Cuapa'
 'San Pedro de Lóvago' 'Santo Domingo' 'Santo Tomás' 'Villa Sandino'
 'Condega' 'Estelí' 'La Trinidad' 'Pueblo Nuevo' 'San Juan de Limay'
 'San Nicolás' 'Diriá' 'Diriomo' 'Granada' 'Nandaime' 'El Cuá' 'Jinotega'
 'La Concordia' 'San José de Bocay' 'San Rafael del Norte'
 'San Sebastián de Yalí' 'Santa María de Pantasma' 'Wiwilí de Jinotega'
 'Achuapa' 'El Jicaral' 'El Sauce' 'La Paz Centro' 'Larreynaga' 'León'
 'Nagarote' 'Quezalguaque' 'Santa Rosa del Peñón' 'Telica' 'Las Sabanas'
 'Palacagüina' 'San José de Cusmapa' 'San Juan del Río Coco' 'San Lucas'
 'Somoto' 'Telpaneca' 'Totogalpa' 'Yalagüina' 'Ciudad Sandino'
 'El Crucero' 'Managua' 'Mateare' 'San Francisco Libre'
 'San Rafael del Sur' 'Ticuantepe' 'Tipitapa' 'Villa El Carmen' 'Catarina'
 'La Concepción' 'Masatepe' 'Masaya' 'Nandasmo' 'Nindirí' 'Niquinohomo'
 'San Juan de Oriente' 'Tisma' 'Ciudad Darío' 'El Tuma - La Dalia'
 'Esquipulas' 'Matagalpa' 'Matiguás' 'Muy Muy' 'Rancho Grande'
 'Río Blanco' 'San Dionisio' 'San Isidro' 'San Ramón' 'Sébaco' 'Terrabona'
 'Waslala' 'Ciudad Antigua' 'Dipilto' 'Jícaro' 'Jalapa' 'Macuelizo'
 'Mozonte' 'Murra' 'Ocotal' 'Quilalí' 'San Fernando' 'Santa María'
 'Wiwilí de Nueva Segovia' 'Bonanza' 'Mulukukú' 'Prinzapolka'
 'Puerto Cabezas' 'Rosita' 'Siuna' 'Waspam' 'Bluefields' 'Paiwas'
 'Corn Island' 'El Tortuguero' 'Kukrahill' 'La Cruz de Río Grande'
 'Desembocadura de Río Grande' 'Laguna de Perlas' 'El Almendro'
 'El Castillo' 'Morrito' 'San Carlos' 'San Juan de Nicaragua'
 'San Miguelito' 'Altagracia' 'Belén' 'Buenos Aires' 'Cárdenas'
 'Moyogalpa' 'Potosí' 'Rivas' 'San Jorge' 'San Juan del Sur' 'Tola']

In [375]:
w1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Municipios         306 non-null    object
 1   Eleccion1          306 non-null    object
 2   Votos depositados  306 non-null    int64
 3   Votos Validos      306 non-null    int64
 4   PLC                306 non-null    int64
 5   AFSLN              306 non-null    int64
 6   YATAMA             306 non-null    int64
 7   ALN                306 non-null    int64
 8   APRE               306 non-null    int64
 9   APLI               306 non-null    int64
 10  Municipio          306 non-null    object
dtypes: int64(8), object(3)
memory usage: 26.4+ KB

### Now, we have a perfect dataset, which is going to be saved as a csv to make the visualization on Tableau.

In [377]:
w1.Municipio.value_counts()

Boaco                   2
San Isidro              2
Esquipulas              2
Matagalpa               2
Matiguás                2
                       ..
Jinotega                2
La Concordia            2
San José de Bocay       2
San Rafael del Norte    2
Tola                    2
Name: Municipio, Length: 153, dtype: int64

In [383]:
w1.to_csv('Nicaragua_Results_Municipality_Elections2022.csv')

In [379]:
w1[['PLC', 'AFSLN','YATAMA', 'ALN', 'APRE', 'APLI']].idxmax(axis=1).tolist()

['AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN',
 'AFSLN']

In [382]:
w1['Winner'] = w1[['PLC', 'AFSLN','YATAMA', 'ALN', 'APRE', 'APLI']].idxmax(axis=1)
w1

,Municipios,Eleccion1,Votos depositados,Votos Validos,PLC,AFSLN,YATAMA,ALN,APRE,APLI,Municipio,Winner
0,BOACO,ALCALDE Y VICEALCALDE,19911,19020,1704,14810,0,872,832,802,Boaco,AFSLN
1,CAMOAPA,ALCALDE Y VICEALCALDE,13542,13016,3295,8098,0,583,524,516,Camoapa,AFSLN
2,SAN JOSE DE LOS REMATES,ALCALDE Y VICEALCALDE,4300,4080,1613,2030,0,149,132,156,San José de Los Remates,AFSLN
3,SAN LORENZO,ALCALDE Y VICEALCALDE,9005,8856,745,7223,0,272,312,304,San Lorenzo,AFSLN
4,SANTA LUCIA,ALCALDE Y VICEALCALDE,2597,2537,382,2021,0,20,97,17,Santa Lucía,AFSLN
...,...,...,...,...,...,...,...,...,...,...,...,...
301,POTOSI,CONCEJALES MUNICIPALES,6592,6349,303,5732,0,199,0,115,Potosí,AFSLN
302,RIVAS,CONCEJALES MUNICIPALES,19759,18861,967,16659,0,818,0,417,Rivas,AFSLN
303,SAN JORGE,CONCEJALES MUNICIPALES,4570,4353,350,3782,0,132,0,89,San Jorge,AFSLN
304,SAN JUAN DEL SUR,CONCEJALES MUNICIPALES,8301,7961,426,7120,0,220,195,0,San Juan del Sur,AFSLN
305,TOLA,CONCEJALES MUNICIPALES,12749,12355,492,10911,0,407,324,221,Tola,AFSLN